/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 4px;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: lightgrey transparent;
  }