name: Build MyMangaDB

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          ls
          pip install -r ./backend/requirements.txt
          pip install pyinstaller

      - name: Install Linux system dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgirepository1.0-dev gir1.2-gtk-3.0
          sudo apt-get install -y libx11-xcb1 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0
          pip install PyGObject

      - name: Build frontend
        working-directory: ./frontend
        run: |
          npm install
          if ("${{ runner.os }}" -eq 'Windows') {
            $env:CI="false"
            npm run build:ci:win
          } else {
            npm run build:ci:other
          }
        shell: pwsh
        env:
          CI: false

      - name: Build with PyInstaller
        run: |
          pip freeze
          if ("${{ runner.os }}" -eq 'Windows') {
            pyinstaller main.py --onefile --noconsole --add-data="./frontend/dist;dist" --name MyMangaDB
          } else {
            pyinstaller main.py --onefile --noconsole --add-data="./frontend/dist:dist" --name MyMangaDB
          }
        shell: pwsh

      - name: Set Linux Executable Permissions
        if: runner.os == 'Linux'
        run: chmod +x ./dist/MyMangaDB

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-build
          path: ./dist/*
